.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
}

.about-image-container {
    flex-basis: auto;
    margin-right: 50px;
}

.about-image-container img {
    display: block;
    height: auto;
    background-color: transparent;
    width: 600px; /* Set the width of the image to 400px */
}

.about-description-container {
    flex-basis: 60%;
}

.about-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}